/* Note: This file must be linked (or copied) to the hyperdoc directory when
         creating a new hyperdoc tree.  In addition: GBBopen-logo.png, 
         GBBopen-logo-sm.png, top.png, up.png, next.png, previous.png, 
         blank.png, and favicon.ico must be similarly linked (or copied).
*/

body     {background-color: #FFFFFF}
h1       {color: #000066}
h2       {color: #000066}
h4       {font-family: "sans-serif"; 
          color: #333366}
address  {font-family: "sans-serif"; 
          font-size: 7pt;
          color: #0099FF}
a.address {color: #0099FF}
span.fndoclabel { 
          font-family: "sans-serif"; 
          font-weight: bold;
          color: #3333AA}
pre      {margin: 0pt; color: #000033}
ol.tight {margin-top: 0pt}
ul.tight {margin-top: 0pt}
table.tight {
          margin: 0pt; 
          padding: 0pt; 
          border-spacing: 0pt}
